.carousel{
	width: 100%;
	position:absolute;

}

.nav a{
	color: #222;
}

.nav-pills li .active a:hover{
	background-color: ;

}

.container-fluid {
	background-color: white;
}

.navbar-header{
	float:right;
	margin-top: 20px;
}

h1{
	display: inline-block;
}

.navbar{
	transition: ease(0.5);
}